div {
    text-align: center;
}

tr {
    text-align: center;
    margin: 10px;
}

table {
    margin: 10px auto;
}

#form {
    
    background-color: rgba(51, 153, 255,0.6);
}

th {
    padding: 10px;
}

body {
    background-image: url(img/bg.jpg);
    font-family: cursive;
}

#h1 {
    font-family: cursive;
    color: rgb(255,255,255);
    font-size: 2vw;
    font-weight: bold;
}

footer {
    padding-top: 20px;
    width: 10vw;
    margin: 0.2vh auto;
}

.footerText {
    background-color: rgba(255,255,255,0.5);
}

#mainTable {
    
}

#info{
    
    font-family: sans-serif;
}

#tr:nth-child(even) {
    background: rgba(255,255,255,0.8);
}

#tr:nth-child(odd) {
    background: rgba(51, 153, 255,0.6);
}

#td1 {
    font-weight: bold;
    text-align: left;
}

#td2 {
    text-align: left;
}

